@model RecipeCube.Models.Recipe

<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="editForm" asp-action="Edit" asp-route-id="@Model.RecipeId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RecipeId" />
                <div class="form-group">
                    <label asp-for="RecipeName" class="control-label"></label>
                    <input asp-for="RecipeName" class="form-control" />
                    <span asp-validation-for="RecipeName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsCustom" class="control-label"></label>
                    <select asp-for="IsCustom" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="IsCustom" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Restriction" class="control-label"></label>
                    <select asp-for="Restriction" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="Restriction" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="WestEast" class="control-label"></label>
                    <select asp-for="WestEast" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="WestEast" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DetailedCategory" class="control-label"></label>
                    <input asp-for="DetailedCategory" class="form-control" />
                    <span asp-validation-for="DetailedCategory" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Steps" class="control-label"></label>
                    <textarea asp-for="Steps" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Steps" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Seasoning" class="control-label"></label>
                    <input asp-for="Seasoning" class="form-control" />
                    <span asp-validation-for="Seasoning" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Visibility" class="control-label"></label>
                    <select asp-for="Visibility" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="Visibility" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="儲存" class="btn btn-danger mx-4" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">返回</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // 初始化表單驗證功能
        $.validator.unobtrusive.parse('#editForm');
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}