@model RecipeCube.Models.RecipeIngredient
<!-- 這裡改成你的model -->

<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="createForm" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- 這裡貼你Create裡的內容，從第一個formGroup類別開始到倒數第二個formGroup為止 -->
                <div class="form-group">
                    <label asp-for="RecipeId" class="control-label"></label>
                    <input asp-for="RecipeId" class="form-control" />
                    <span asp-validation-for="RecipeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IngredientId" class="control-label"></label>
                    <input asp-for="IngredientId" class="form-control" />
                    <span asp-validation-for="IngredientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="新增" class="btn btn-info me-3" />
                    <a asp-action="Index" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 在局部檢視內直接調用腳本 -->
<script>
    $(document).ready(function () {
        // 重新解析驗證規則
        $.validator.unobtrusive.parse('#createForm');
    });
    //想用的腳本可以放這
</script>
<!-- 引用驗證 -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}