@{
    ViewData["Title"] = "總覽";
}

<div class="text-center">
    <h3 class="display-6 animate__animated animate__jello mb-3">歡迎使用食譜魔方前端系統</h3>
    <h3 class="display-6 animate__animated animate__jello mb-3">點選圖片回到首頁</h3>
    <img id="logo" class="animate__animated" src="~/img/logos/logo.png" style="width:256px; height:256px;" onclick="event.preventDefault();  window.location.href = '/Home';" />
</div>