@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://localhost:7189/Admin">
        <h1 class="nav-link me-2">後台頁面</h1>
    </a>
    <img id="logo" class="animate__animated" src="~/img/logos/logo.png" style="width:256px; height:256px;" onclick="event.preventDefault();  window.location.href = '/Admin';" />
</div>
