@page
@model LoginModel

@{
    ViewData["Title"] = "登入";
}


<div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
    <div class="card card-plain mt-8">
        <div class="card-header pb-0 text-left bg-transparent">
            <h3 class="font-weight-bolder text-info text-gradient">歡迎回來</h3>
            <p class="mb-0">輸入Email與密碼登入</p>
        </div>
        <div class="card-body">
            <form role="form" id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="密碼" />
                    <label asp-for="Input.Password" class="form-label">密碼</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="form-check-label">記住密碼</label>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="button" class="btn bg-gradient-info w-100 mt-4 mb-0">登入</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="mb-4 text-sm mx-auto">
                不記得密碼嗎?
                <a id="forgot-password" asp-page="./ForgotPassword" class="text-info text-gradient font-weight-bold">忘記密碼</a>
                <br>
                還沒有註冊過會員嗎?
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-info text-gradient font-weight-bold">註冊</a>
            </p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/img/SignIn-bg1.jpg')"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
