@model RecipeCube.Areas.Admin.ViewModels.UserViewModel


<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="deleteForm" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="儲存" class="btn btn-info mx-3" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </div>
            </form>
            <div />
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.validator.unobtrusive.parse('#deleteForm');
        });
    </script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
