@model RecipeCube.Areas.Admin.ViewModels.OrderViewModel

<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="editForm" asp-action="Edit" asp-route-id="@Model.OrderId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" readonly/>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTime" class="control-label"></label>
                <input asp-for="OrderTime" class="form-control" readonly/>
                <span asp-validation-for="OrderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="OrderName" class="control-label"></label>
                    <input asp-for="OrderName" class="form-control" />
                    <span asp-validation-for="OrderName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderPhone" class="control-label"></label>
                    <input asp-for="OrderPhone" class="form-control" />
                    <span asp-validation-for="OrderPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderAddress" class="control-label"></label>
                    <input asp-for="OrderAddress" class="form-control" />
                    <span asp-validation-for="OrderAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderEmail" class="control-label"></label>
                    <input asp-for="OrderEmail" class="form-control" />
                    <span asp-validation-for="OrderEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderRemark" class="control-label"></label>
                    <input asp-for="OrderRemark" class="form-control" />
                    <span asp-validation-for="OrderRemark" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="true">已付款</option>
                        <option value="false">未付款</option>
                    </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="儲存" class="btn btn-info mx-3" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
            </div>
        </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $.validator.unobtrusive.parse('#editForm');
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
            
    }
}
