@model RecipeCube.Models.Ingredient

<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="createForm" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IngredientName" class="control-label" style="font-size: large;">食材名稱</label>
                    <input asp-for="IngredientName" class="form-control" />
                    <span asp-validation-for="IngredientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label" style="font-size: large;">類別</label>
                    <input asp-for="Category" list="Categories" class="form-control" id="categoryInput" />
                    <datalist id="Categories">
                        @if (ViewBag.Categories != null)
                        {
                            foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category"></option>
                            }
                        }
                    </datalist>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Synonym" class="control-label" style="font-size: large;">別稱</label>
                    <input asp-for="Synonym" class="form-control" />
                    <span asp-validation-for="Synonym" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpireDay" class="control-label" style="font-size: large;">預設過期天數</label>
                    <input asp-for="ExpireDay" class="form-control" id="expireDayInput" />
                    <span asp-validation-for="ExpireDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Unit" class="control-label" style="font-size: large;">單位</label>
                    <input asp-for="Unit" class="form-control" />
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gram" class="control-label" style="font-size: large;">克數</label>
                    <input asp-for="Gram" class="form-control" />
                    <span asp-validation-for="Gram" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label col-lg-6">照片</label>
                    <partial name="_ShowPhotoPartial" class="col-lg-6" />
                    <input type="file" asp-for="Photo" accept="image/*" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="新增" class="btn btn-info me-3" />
                    <a asp-action="Index" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 在局部檢視內包含腳本 -->
<script>
    $(document).ready(function () {
    // 重新解析驗證規則
    $.validator.unobtrusive.parse('#createForm');

    // 定義類別和對應的過期天數
    const categoryExpireDays = {
        '中藥類': 30, '水果類': 7, '蔬菜類': 5, '牛肉類': 5, '羊肉類': 5,
        '雞肉類': 5, '豬肉類': 5, '豆類': 7, '海鮮類': 3, '澱粉類': 60,
        '堅果類': 21, '蛋奶類': 5, '菌菇類': 14, '加工類': 14, '高湯類': 7,
        '液體類': 7, '零食類': 30, '調料類': 90, '其他類': 90
    };

    // 當分類選項改變時，設定對應的過期天數
    $('#categoryInput').on('change', function () {
        const category = $(this).val();
        const defaultExpireDay = categoryExpireDays[category] || 7;
        $('#expireDayInput').val(defaultExpireDay);
    }).trigger('change');

    // 預覽圖片的功能
    function previewImage(inputFile) {
        const file = inputFile.files[0];
        if (file) {
            const allowTypes = /^image\//;
            if (allowTypes.test(file.type)) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const $preview = $("#Photo").prev();
                    $preview.attr({
                        "src": e.target.result,
                        "title": file.name
                    });
                };
                reader.readAsDataURL(file);
                $("input[type='submit']").prop("disabled", false);
            } else {
                alert("不允許的檔案上傳類型");
                resetImagePreview(inputFile);
            }
        }
    }

    function resetImagePreview(inputFile) {
        inputFile.value = "";
        const $preview = $("#Photo").prev();
        $preview.attr({
            "src": '/img/icon_large.png',
            "title": "尚無圖檔"
        });
        $("input[type='submit']").prop("disabled", false);
    }

    // 當使用者選擇檔案時，觸發預覽功能
    $("#Photo").on("change", function () {
        previewImage(this);
    });
});
</script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}