@model RecipeCube.Models.Ingredient


<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="editForm" asp-action="Edit" asp-route-id="@Model.IngredientId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IngredientId" />
                <div class="form-group">
                    <label asp-for="IngredientName" class="control-label">食材名稱</label>
                    <input asp-for="IngredientName" class="form-control" />
                    <span asp-validation-for="IngredientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label">類別</label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Synonym" class="control-label">別稱</label>
                    <input asp-for="Synonym" class="form-control" />
                    <span asp-validation-for="Synonym" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpireDay" class="control-label">預設過期天數</label>
                    <input asp-for="ExpireDay" class="form-control" />
                    <span asp-validation-for="ExpireDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Unit" class="control-label">單位</label>
                    <input asp-for="Unit" class="form-control" />
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gram" class="control-label">克數</label>
                    <input asp-for="Gram" class="form-control" />
                    <span asp-validation-for="Gram" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label">照片</label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="儲存" class="btn btn-info mx-3" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // 初始化表單驗證功能
        $.validator.unobtrusive.parse('#editForm');
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}