@model RecipeCube.Areas.Admin.ViewModels.IngredientViewModel


<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="editForm" asp-action="Edit" asp-route-id="@Model.IngredientId" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IngredientId" />
                <div class="form-group">
                    <label asp-for="IngredientName" class="control-label">食材名稱</label>
                    <input asp-for="IngredientName" class="form-control" />
                    <span asp-validation-for="IngredientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label">類別</label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Synonym" class="control-label">別稱</label>
                    <input asp-for="Synonym" class="form-control" />
                    <span asp-validation-for="Synonym" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpireDay" class="control-label">預設過期天數</label>
                    <input asp-for="ExpireDay" class="form-control" />
                    <span asp-validation-for="ExpireDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Unit" class="control-label">單位</label>
                    <input asp-for="Unit" class="form-control" />
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gram" class="control-label">克數</label>
                    <input asp-for="Gram" class="form-control" />
                    <span asp-validation-for="Gram" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label col-lg-6">照片</label>
                    <partial name="_ShowPhotoPartial" class="col-lg-6" />
                    <input type="file" asp-for="Photo" accept="image/*" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="儲存" class="btn btn-info mx-3" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // 初始化表單驗證功能
        $.validator.unobtrusive.parse('#editForm');

            // 預覽圖片的功能
            function previewImage(inputFile) {
                if (inputFile.files[0]) {
                    var allowTypes = "image.*";  // 允許的檔案類型
                    var file = inputFile.files[0];

                    // 檢查檔案類型是否符合允許的格式
                    if (file.type.match(allowTypes)) {
                        var reader = new FileReader();

                        // 當檔案讀取完成時，更新圖片預覽
                        reader.onload = function (e) {
                            $("#Photo").prev().attr("src", e.target.result);  // 顯示圖片
                            $("#Photo").prev().attr("title", file.name);      // 顯示圖片名稱
                        };
                        reader.readAsDataURL(file);

                        // 啟用提交按鈕
                        $("input[type='submit']").prop("disabled", false);
                    } else {
                        // 如果檔案類型不符合，提示錯誤並重設預覽
                        alert("不允許的檔案上傳類型");
                        $("input[type='submit']").prop("disabled", false);
                        inputFile.value = "";  // 重設檔案選擇
                        $("#Photo").prev().attr("src", '@Url.Content("/img/icon_large.png")');  // 重設預覽圖片
                        $("#Photo").prev().attr("title", "尚無圖檔");  // 重設圖片標題
                    }
                }
            }

            // 當使用者選擇檔案時，觸發預覽功能
            $("#Photo").on("change", function () {
                previewImage(this);
            });
        });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}