@model RecipeCube.Models.Product

@{
    ViewData["Title"] = "新增商品";
}

<h3>新增商品</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createForm" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngredientId" class="control-label"></label>
                <input asp-for="IngredientId" class="form-control" />
                <span asp-validation-for="IngredientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="true">正常供貨</option>
                    <option value="false">停售</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            @*  <div class="form-group">
            <label asp-for="Photo" class="control-label"></label>
            <input asp-for="Photo" class="form-control" />
            <span asp-validation-for="Photo" class="text-danger"></span>
            </div> *@

            @* 呼叫圖片局部檢視，新增圖片上傳欄位_僅允許(jpg,jpeg,png) *@
            <div class="mb-3">
                <label asp-for="Photo" class="control-label"></label>
                <br />
                <img id="imgPreview" src="~/img/icon_large.png" asp-append-version="true" title="尚無圖檔" style="width:256px;height:256px" class="mb-3" />
                @* id="Photo" name="Picture"  *@
                <input type="file" asp-for="Photo" accept="image/*" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">回到列表</a>
            </div>
        </form>
    </div>
</div>


<script>
    function Image() {
    @*圖檔預覽*@
            function previewImage(inputFile) {
                if (inputFile.files[0]) {
                    var allowTypes = "image.*";
                    var file = inputFile.files[0];
                    if (file.type.match(allowTypes)) {
    @*預覽*@
                                            var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#Photo").prev().attr("src", e.target.result);
                            $("#Photo").prev().attr("title", file.name);
                        };
                        reader.readAsDataURL(file);
                        $(".btn.btn-primary").prop("disabled", false);
                    }
                    else {
                        alert("不允許的檔案上傳類型")
                        $(".btn.btn-primary").prop("disabled", true);
                        inputFile.value = "";
                        $("#Photo").prev().attr("src", "@Url.Content("~/img/icon_large.png")");
                        $("#Photo").prev().attr("title", "尚無圖檔");
                    }
                }
            }

        $("#Photo").on("change", function () {
            previewImage(this);

        })
    }


</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function initializeImagePreview() { 
            // 圖檔預覽
            function previewImage(inputFile) {
                if (inputFile.files[0]) {
                    var allowTypes = "image.*";
                    var file = inputFile.files[0];
                    if (file.type.match(allowTypes)) {
                        // 預覽
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#Photo").prev().attr("src", e.target.result);
                            $("#Photo").prev().attr("title", file.name);
                        };
                        reader.readAsDataURL(file);
                        $(".btn.btn-primary").prop("disabled", false);
                    }
                    else {
                        alert("不允許的檔案上傳類型")
                        $(".btn.btn-primary").prop("disabled", true);
                        inputFile.value = "";
                        $("#Photo").prev().attr("src", "@Url.Content("~/img/icon_large.png")");
                        $("#Photo").prev().attr("title", "尚無圖檔");
                    }
                }
            }

        $("#Photo").on("change", function () {
            previewImage(this);

        })
        }
    </script>
}