<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icon_small.png" asp-append-version="true">
    <link rel="icon" type="image/png" href="/img/favicon.ico" asp-append-version="true">
    <title>
        @ViewData["Title"] - 食譜魔方
    </title>
    <!--     字型跟圖標     -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap" rel="stylesheet">
    <!-- SVG圖標 -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome 圖標 -->
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <!-- 連結View內style -->
    @await RenderSectionAsync("Styles", required: false)
</head>



<body>
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid">
                        <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="" target="_blank">
                            <img src="/img/icon_small.png" class="navbar-brand-img w-20" alt="main_logo">
                            <span class="ms-1 font-weight-bold">RecipeCube</span>
                        </a>
                        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>

                    <div class="collapse navbar-collapse" id="navigation">
                                @* 依照角色顯示可訪問頁面  *@
                                <partial name="_RolesPartial" />
                                @* 註冊&登入&登出  *@
                                <partial name="_LoginPartial" />
                    </div>
                </div>
                </nav>
        <!-- End Navbar -->
    </div>
    </div>
    </div>

    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- -------- START FOOTER ------- -->
    <footer class="footer py-1">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto text-center mt-1">
                    <p class="mb-0 text-secondary">
                        Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Soft by Creative Tim.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- -------- END FOOTER  ------- -->
    <!--   核心JS   -->
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/js/plugins/smooth-scrollbar.min.js"></script>
    <!-- sidebar的卷軸生成 -->
    <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }

        //測試用 自動填入管理者帳號
        $('#Input_Email').val('admin@example.com');
        $('#Input_Password').val('Password123!');
    </script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>