@if (User.IsInRole("Admin"))
{
    <!-- Sidebar -->
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="" target="_blank">
                <img src="/img/icon_small.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">RecipeCube</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                @await Html.PartialAsync("OverView")
                <li class="nav-item">
                    <a class="nav-link  " asp-area="Admin" asp-controller="Home" asp-action="Index">
                        @await Html.PartialAsync("RolePage")
                        <span class="nav-link-text ms-1">後台管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- End Sidebar -->
}
else if(User.Identity.IsAuthenticated)
{
    <!-- Sidebar -->
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="" target="_blank">
                <img src="/img/icon_small.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">RecipeCube</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                @await Html.PartialAsync("OverView")
                <li class="nav-item">
                    <a class="nav-link  " asp-area="Home" asp-controller="Home" asp-action="Index">
                        @await Html.PartialAsync("RolePage")
                        <span class="nav-link-text ms-1">使用者頁面</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- End Sidebar -->
}
else
{
    <!-- Sidebar -->
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="" target="_blank">
                <img src="/img/icon_small.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">RecipeCube</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                @await Html.PartialAsync("OverView")

                <li class="nav-item">
                    @* <a class="nav-link  " asp-area="Admin" asp-controller="Home" asp-action="Index"> *@
                    <a class="nav-link  " asp-area="Home" asp-controller="Home" asp-action="Index">
                        @await Html.PartialAsync("RolePage")
                        <span class="nav-link-text ms-1">訪客頁面</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- End Sidebar -->
}