@if (User.IsInRole("Admin"))
{
    <!-- Sidebar -->
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" asp-area="Home" asp-controller="Home" asp-action="Index">
                <i class="fa fa-home opacity-6 text-dark me-1"></i>
                首頁
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-2" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-bars-progress opacity-6 text-dark me-1"></i>
                後台頁面
            </a>
        </li>
    </ul>
    <!-- End Sidebar -->
}
else if(User.Identity.IsAuthenticated)
{
    <!-- Sidebar -->
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" asp-area="Home" asp-controller="Home" asp-action="Index">
                <i class="fa fa-home opacity-6 text-dark me-1"></i>
                首頁
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-2" asp-area="Home" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-bars-progress opacity-6 text-dark me-1"></i>
                使用者頁面
            </a>
        </li>
    </ul>
    <!-- End Sidebar -->
}
else
{
    <!-- Sidebar -->
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" asp-area="Home" asp-controller="Home" asp-action="Index">
                <i class="fa fa-home opacity-6 text-dark me-1"></i>
                首頁
            </a>
        </li>
                <li class="nav-item">
                @* <a class="nav-link me-2" asp-area="Home" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-bars-progress opacity-6 text-dark me-1"></i>
                    訪客頁面
                </a> *@

            <a class="nav-link me-2" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-bars-progress opacity-6 text-dark me-1"></i>
                後台頁面
            </a>
                </li>
            </ul>
    <!-- End Sidebar -->
}