@model RecipeCube.Areas.Admin.ViewModels.InventoryViewModel


<div class="row">
    <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
        <div class="w-100">
            <form id="editForm" asp-action="Edit" asp-route-id="@Model.InventoryId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InventoryId"/>
                <input type="hidden" asp-for="GroupId" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="IngredientId" />
                <div class="form-group">
                    <label asp-for="GroupName" class="control-label"></label>
                    <input asp-for="GroupName" class="form-control" readonly />
                    <span asp-validation-for="GroupName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" readonly />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IngredientName" class="control-label"></label>
                    <input asp-for="IngredientName" class="form-control" readonly />
                    <span asp-validation-for="IngredientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control"/>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IngredientUnit" class="control-label"></label>
                    <input asp-for="IngredientUnit" class="form-control" readonly />
                    <span asp-validation-for="IngredientUnit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiryDate" class="control-label"></label>
                    <input asp-for="ExpiryDate" class="form-control" type="date" id="expiryDate" />
                    <span asp-validation-for="ExpiryDate" class="text-danger" id="expiryDateSpan"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsExpiring" class="control-label"></label>
                    <input asp-for="IsExpiring" class="form-control" id="isExpiring" readonly />
                    <span asp-validation-for="IsExpiring" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Visibility" class="control-label"></label>
                    <select asp-for="Visibility" class="form-control mb-3">
                        <option value="true">群組可見</option>
                        <option value="false">僅本人可見</option>
                    </select>
                    <span asp-validation-for="Visibility" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="儲存" class="btn btn-info mx-3" />
                    <a href="javascript:void(0)" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到列表</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // 初始化表單驗證功能
        $.validator.unobtrusive.parse('#editForm');

        $('#expiryDate').on('change', function () {
            const today = new Date();
            const selectedDate = new Date($(this).val());

            if (selectedDate < today.setHours(0, 0, 0, 0)) {
                $(this).val('');
                $('#expiryDateSpan').html('日期不能小於今日日期');
            } else {
                $('#expiryDateSpan').html('');

                // 計算剩餘天數，並檢查是否小於等於 3 天
                const differenceInTime = selectedDate.getTime() - today.getTime();
                const differenceInDays = Math.ceil(differenceInTime / (1000 * 3600 * 24)); // 轉換為天數

                if (differenceInDays <= 3) {
                    $('#isExpiring').val('true'); // 設置為字符串 'true'
                } else {
                    $('#isExpiring').val('false'); // 設置為字符串 'false'
                }
            }
        });

    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}